<div class="row">
    <div class="col edit-btns flex-center mb-half">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#ingredient-modal">Add</a>
        <!-- Modal Structure -->
        <div id="ingredient-modal" class="modal ingredient_modal card-outline">
            <div class="modal-content">
                <form class="col s12" method="POST" action="{{ url_for('insert_ingredient') }}">
                    <div class="row">
                        <!-- Ingredient Name -->
                        <div class="input-field col s12 l6">
                            <input id="ingredient_name" name="ingredient_name" type="text" minlength="1" maxlength="21" class="validate" required>
                            <label for="ingredient_name">Ingredient Name *</label>
                        </div>
                        <!-- Food Group Selection -->
                        <div class="input-field col s12 l6">
                            <select id="group_name" name="group_name" class="validate" required>
                                <option value="" disabled selected>Choose Food Group *</option>
                                {% for group in food_groups %}
                                    <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- Calories -->
                        <div class="input-field col s12 m6">
                            <input id="ingredient_cal" name="ingredient_cal" type="number" min="1" max="9999" class="validate">
                            <label for="ingredient_cal">Calories</label>
                        </div>
                        <!-- Unit Selection -->
                        <div class="input-field col s12 m6">
                            <select id="unit_name" name="unit_name" class="validate" required>
                                <option value="" disabled selected>Choose Units *</option>
                                {% for unit in units %}
                                    <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- Modal Footer Buttons -->
                    <div class="modal-footer flex-center">
                        <a href="#!" class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable mh1">Cancel</a>
                        <span class="mh1"></span>
                        <button class="btn waves-effect waves-light transparent btn-outline mh1" id="submit_ingredient" type="submit" name="action">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>