<!--Ingredients dispalyed in a collapsible-->
<!--Ingredients-->
<section class="container">
    <div class="flex-col">
        <h4 class="center">Ingredient <br> Calories</h4>
        <div class="edit-btns flex-center mb-half">
            <!-- 'Add' option if user is logged in -->
            {% if session.user %}
                {% include "partials/add_ingredient_modal.html" %}
            {% else %}
                <em><a  class="internal-link" href="{{ url_for('login')}}">Log In</a> or <a  class="internal-link" href="{{ url_for('register')}}">Register</a> to add Ingredients.</em>
            {% endif %}
        </div>
    </div>
    <ul class="collapsible popout">
        <!-- Dairy Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Dairy</div>
            <div class="collapsible-body">
                {% for ingredient in dairy_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#ingredient-modal">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#ingredient-modal">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Fruit Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Fruit</div>
            <div class="collapsible-body">
                {% for ingredient in fruit_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Grains Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Grains</div>
            <div class="collapsible-body">
                {% for ingredient in grain_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content  w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Proteins Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Proteins</div>
            <div class="collapsible-body">
                {% for ingredient in protein_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Spices & Oils Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Spices & Oils</div>
            <div class="collapsible-body">
                {% for ingredient in spice_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Sweet Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Sweet</div>
            <div class="collapsible-body">
                {% for ingredient in sweet_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
        <!-- Veg Card -->
        <li>
            <div class="collapsible-header"><i class="material-icons">expand_more</i>Vegetables</div>
            <div class="collapsible-body">
                {% for ingredient in veg_ingredients %}
                    <div class="col s12 l6 card horizontal">
                        <div class="card-content w100">
                            <div class="ingredient flex-wrap">
                                <div class="flex">
                                    <h6>{{ ingredient.ingredient_name }}</h6>
                                    <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                </div>
                                {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                <div class="flex-right">
                                    <!-- Only Admin may view Created by -->
                                    {% if session.user|lower == 'admin' %}
                                        <!-- If both creator and session user are admin -->
                                        {% if session.user|lower == ingredient.created_by %}
                                            <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                        <!-- If session user is admin -->
                                        {% else %}    
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use mh-half" href="{{ url_for('view_profile', username_view=ingredient.created_by) }}">
                                                {{ ingredient.created_by }}
                                            </a>
                                        {% endif %}
                                    <!-- Only Ingredient Creator may edit ingredient -->
                                    {% else %}
                                        <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                    {% endif %}
                                    <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                    Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
    </ul>
</section>