<!--Ingredients-->
<section class="container">
    <div class="flex-col">
        <h3 class="center">Ingredient <br> Calories</h3>
        <div class="edit-btns flex-center">
            <!-- 'Add' option if user is logged in -->
            {% if session.user %}
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Add</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal ingredient_modal card-outline">
                    <div class="modal-content">
                        <form class="col s12" method="POST" action="{{ url_for('insert_ingredient') }}">
                            <div class="row">
                                <!-- Ingredient Name -->
                                <div class="input-field col s12 l6">
                                    <input id="ingredient_name" name="ingredient_name" type="text" minlength="1" maxlength="25" class="validate" required>
                                    <label for="ingredient_name">Ingredient Name *</label>
                                </div>
                                <!-- Food Group Selection -->
                                <div class="input-field col s12 l6">
                                    <select id="group_name" name="group_name" class="validate" required>
                                        <option value="" disabled selected>Choose Food Group *</option>
                                        {% for group in food_groups %}
                                            <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Calories -->
                                <div class="input-field col s12 m6">
                                    <input id="ingredient_cal" name="ingredient_cal" type="number" minlength="1" max="9999" pattern="^[0-9]$" class="validate">
                                    <label for="ingredient_cal">Calories</label>
                                </div>
                                <!-- Unit Selection -->
                                <div class="input-field col s12 m6">
                                    <select id="unit_name" name="unit_name" class="validate" required>
                                        <option value="" disabled selected>Choose Units *</option>
                                        {% for unit in units %}
                                            <option value="{{ unit.unit_name }}">{{ unit.unit_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- Modal Footer Buttons -->
                            <div class="modal-footer flex-center">
                                <a href="#!" class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable mh1">Cancel</a>
                                <span class="mh1"></span>
                                <button class="btn waves-effect waves-light transparent btn-outline mh1" id="submit_ingredient" type="submit" name="action">
                                    Add
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- If not logged in prompt user to login or register to add ingredients -->
            {% else %}
                <em><a id="login" href="{{ url_for('login')}}">Log In</a> or <a id="register" href="{{ url_for('register')}}">Register</a> to add Ingredients.</em>
            {% endif %}
        </div>
    </div>
    <!-- Dairy Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal w100">
                <div class="card-content user-card flex-col">
                    <h5>Dairy</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in dairy_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruit Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal w100">
                <div class="card-content user-card flex-col">
                    <h5>Fruit</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in fruit_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Grains Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Grains</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in grain_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content  w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Proteins Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Protein (Meat, Nuts, Seeds)</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in protein_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Spices & Oils Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Spices & Oils</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in spice_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sweet Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Sweet</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in sweet_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Veg Card -->
    <div class="row users-cards mt1">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Vegetables</h5>
                    <div class="row w100 sm-card">
                        {% for ingredient in veg_ingredients %}
                            <div class="col s12 l6 card horizontal">
                                <div class="card-content w100">
                                    <div class="ingredient flex-wrap">
                                        <div class="flex">
                                            <h6>{{ ingredient.ingredient_name }}</h6>
                                            <p>{{ ingredient.ingredient_cal }} kcal/{{ ingredient.unit_name }}</p>
                                        </div>
                                        {% if session.user|lower == ingredient.created_by|lower or session.user|lower == 'admin' %}
                                        <div class="flex-right">
                                            <!-- Only Admin may view Created by -->
                                            {% if session.user|lower == 'admin' %}
                                                <em class="mh-half">{{ ingredient.created_by }}</em>
                                            <!-- Only Ingredient Creator may edit ingredient -->
                                            {% else %}
                                                <a class="mh-half waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Edit</a>
                                            {% endif %}
                                            <!-- Only Admin or Ingredient Creator may delete ingredient -->
                                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('delete_ingredient', ingredient_id=ingredient._id) }}">
                                            Delete
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>