<!--Recipe Cards for medium and smaller devices-->
<div class="col s12 m6 recipe_cards">
                <div class="card hoverable">
                    <!--Image square and centered at any screen size-->
                    <div class="square">
                        {% if recipe.recipe_image == '' %}
                            <div class="flex-center blank_image">
                                <h4 class="image_header center">{{recipe.recipe_name}}</h4>
                            </div>
                        {% else %}
                            <img class="content gallery-image" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }} Image">
                        {% endif %}
                    </div>
                    <div class="recipe-card card-content flex-space">
                        <!--Displayed under image-->
                        <p><a class="bolder blue-grey-text text-darken-4 card-anchor" href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">{{recipe.recipe_name}}</a></p>
                        <span class="bold activator"><i class="material-icons right">more_vert</i></span>
                    </div>
                    <!--Revelaed when card is clicked-->
                    <div class="card-reveal flex-vert-between">
                        <i class="material-icons card-title right">close</i>
                        <span class="card-title mb2">{{recipe.recipe_name}}</span>
                        <!--Icon info: Servings,Calories,Vegetarian,Vegan-->
                        <div class="card-icons flex-center-wrap">
                            <!--Time-->
                            <div class="flex">
                                <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Prep Time" src="../static/img/icons/time.png" alt="Time"><span class="icon-text">{{recipe.recipe_time}}</span>
                            </div>
                            <!--Serves-->
                            <div class="mh-icon flex">
                                <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Serves" src="../static/img/icons/servings.png" alt="Servings"><span class="icon-text">{{recipe.recipe_serves}}</span>
                            </div>
                            <!--Calories-->
                            <div class="mh-icon flex">
                                {% if recipe.recipe_cals != "" %}
                                <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Per Serving" src="../static/img/icons/calories.png" alt="Calories"><span class="icon-text">{{recipe.recipe_cals}}</span>
                                {% endif %}
                            </div>
                            <!--Vegetarian/Vegan-->
                            <div class="mh-icon flex">
                                {% if recipe.recipe_is_vegetarian == "on" %}
                                    <img class="tooltipped" data-position="bottom" data-tooltip="Vegetarian" src="../static/img/icons/vegetarian.png" alt="Vegetarian"> 
                                {% endif %}
                                {% if recipe.recipe_is_vegan == "on" %}
                                    <img class="tooltipped" data-position="bottom" data-tooltip="Vegan" src="../static/img/icons/vegan.png" alt="Vegan">
                                {% endif %}
                            </div>
                        </div>
                        <!--Description,Creator,link-->
                        <div class="row">
                            <div class="col s12">
                                <p>{{ recipe.recipe_description }}</p>
                                <div>
                                    <p><em>By:{{ recipe.created_by }}</em></p>
                                    <p><a class="bold" href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>