/* *{
    border: 1px solid pink;
} */

/**** GLOBAL STYLES ****/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* pagination */
.pagination li.active {
    background-color: #4c809b;
}
/* used to make footer sticky */
main {
    flex: 1 0 auto;
}
.activator {
    cursor: pointer;
}
/* .card-panel {
    padding: 0.5rem;
} */
/*perfect square code from: https://codepen.io/Tyler_Potts_/pen/qBBXoVQ*/
.square {
    position: relative;
    overflow: hidden;
}
.square:after {
    content: "";
    display: block;
    padding-top: 100%;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Font Rules */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Pattaya', sans-serif;
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.text-shadow-2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}
.bold {
    font-weight: 500;
}

/* Hide */
.xxl-only{
    display: none;
}

/* Flashes */
/* .flashes h4 {
    line-height: 2;
} */

/* Icons */
.large-icon {
    font-size: 1.5rem;
}

/* Margin Rules */
.m0 {
    margin: 0;
}
.m-all{
    margin: 1rem;
}
.mh1 {
    margin: 0 1rem;
}
.mt0 {
    margin-top: 0;
}
.mt1 {
    margin-top: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.mb0 {
    margin-bottom: 0;
}
.mb1 {
    margin-bottom: 1rem;
}
.mb2 {
    margin-bottom: 2rem;
}
.ml1 {
    margin-left: 1rem;
}

/* Padding */
.p-half {
    padding: 0.5rem;
}

/* Widths */
.w-80 {
    width: 80%;
    margin: auto;
}

/* Cards and Buttons */
.border {
    border:2px solid #263238;
}
.no-border {
    border: none;
}
.card-outline {
    border: 3px solid #263238;
    border-radius: 20px;
    margin-top: 1rem;
}
.btn-outline {
    color: #263238;
    border: 2px solid #263238;
    border-radius: 20px;
}

/* Labels and Inputs */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #263238;
  opacity: 1; /* Firefox */
}
label {
    font-size: .8rem;
    color: #263238;
}
input {
    color: #263238;
}
.input-field>label {
    color: #263238;
    font-weight: 500;
}

/*** PAGES ***/
/** Sections **/
/* Sub Sections */

/*** BASE ***/
/** Nav **/
.log h5 {
    color: white;
}
.nav-wrapper {
    margin: 0 1rem;
}
.logo{
    display: flex;
}
#logo {
    margin: 0.5rem 0;
}
nav .brand-logo {
    display: flex;
}
nav ul a {
    padding: 0 5px;
}

/** Footer **/
/* newsletter signup */
#formContact {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
#formContact input {
    background-color: white;
    color: #37474F;
}
#submit {
    padding: 0 1rem;
    background-color: white;
    border: none;
    color: #37474F;
    border: none;
}
#emailaddress {
    padding: 0rem;
    margin: 0 0 1rem 1rem;
}
/* Directory */
.directory li a {
    color: white;
}
/* Bottom Footer */
.contact-footer {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0;
}
.copyright {
    justify-content: center;
    padding: .5rem;
}
/* Social Icons */
.social-links {
    display: flex;
    justify-content: center;
}
.social-links li i:hover {
  color: #449bff;
}
.fab {
    font-size: 2rem;
    margin: 0 1rem;
    color: white;
}

/*** INDEX ***/

/*** ADD RECIPE ***/
/* Instruction Field */
.instruction {
    background: white;
    color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem;
    padding: 1rem .75rem 0rem .75rem;
    border-bottom: 1px solid #263238;
    width: 60%;
}
.instruction-input {
    padding-top: 0.75rem;
    width: 90% !important;
    border-bottom: 1px solid #263238;
}
.instruction-button {
    background-color: white !important;
    font-size: 2rem;
    border: none;
    color: #263238;
}
form button {
    color: #263238;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
ul .instruction-list {
    min-width: 30%;
}
.instruction li {
    flex: 1;
}
.instruction button {
    border: none !important;
    cursor: pointer !important;
}
.fa-trash {
    pointer-events: none;
}
.trash-btn {
    background-color: white;
    font-size: 1.3rem;
    color: #263238;
}

/*** LOGIN ***/

/* SINGLE RECIPE PAGE */
/* left hand side*/
#description {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-radius: 100px;
}
.icon {
    margin-left: 0.5rem;
}
/* right hand side*/
/*Tab styles on single_ingredients modified from The Net Ninja tutorial: https://www.youtube.com/playlist?list=PL4cUxeGkcC9gGrbtvASEZSlFEYBnPkmff */
.tabs .indicator {
    background-color: #263238
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
.method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ingredients form p,
#instructions form p {
    margin: 0.5rem 0;
}
.checkbox-text {
    color: #121212;
    font-size: 1.1rem !important;
}

/* change color of ticks to dark blue */
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #263238;
    border-bottom: 2px solid #263238;
}

/* MEDIA QUERIES */
/*m tablet*/
@media screen and (min-width: 600px) {
  .nav-wrapper {
    margin: 0 2rem;
    }
    .row.col.info-icon{
    padding: 0;
    }
    /* single recipe page */
    .tab-title {
    letter-spacing: 4px;
    }
    .card-outline {
    padding: 1rem;
}
}


/* l desktop */
@media screen and (min-width: 992px) {
    .card-outline {
    padding: 1rem;
    }
    
    /* single recipe page */
    .tab-title {
    letter-spacing: 0px;
    }
}

/* xl  large desktop */
@media screen and (min-width: 1200px) {
    /* *{
        font-size: 1.05rem;
    } */
    /* single recipe page */
    .tab-title {
    letter-spacing: 1px;
    }
    /* footer */
    .bottom-footer {
    display: flex;
    flex-direction: row;
    }
    /* single recipe page */
    .tab-title {
    letter-spacing: 2px;
    }
    .tabs .tab a {
        font-size: 1.1rem;
    }

}

/*xxl  v large desktop*/
@media screen and (min-width: 1500px) {
  .xxl-only {
    display: inline-block
  }
  .row .col.xxl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  /* single recipe page */
    .tab-title {
    letter-spacing: 5px;
    }
    .tabs .tab a {
        font-size: 1.2rem;
    }
}
