body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Pattaya', sans-serif;
}
/* parallax
header {
  min-height: 500px;
  background: linear-gradient(240deg, #834d4d, #503d3d);
  position: relative;
  color: white;
  font-family: sans-serif;
  z-index: -1;
}
.pasta {
  position: absolute;
  height: 230px;
  top: 10%;
  right: 10%;
}

.curry {
  position: absolute;
  height: 200px;
  top: 10%;
  right: 30%;
}

.soup {
  position: absolute;
  height: 200px;
  top: 10%;
  right: 50%;
} */

.border {
    border:2px solid #263238;
}
/* nav {
    min-height: 8vh;
} */
#search-button {
    border: none;
}
.nav-wrapper {
    margin: 0 2rem;
}
.logo{
    display: flex;
}
#logo {
    margin: 0.5rem 0;
}
nav .brand-logo {
    display: flex;
}
nav ul a {
    padding: 0 5px;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.text-shadow-2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}
.flashes h4 {
    line-height: 2;
}
/* .collapsible {
    margin: 0;
}
.collapsible-header i {
    margin-right: 0rem;
    margin-left: 0.3rem;
} */
.switch-line {
    line-height: 2;
}
.large-icon {
    font-size: 1.5rem;
}
#expand{
    font-size: 30px;
}
#search {
    margin-top: 2rem;
}
#name {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
#created-by {
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
}
#description {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
/* Font Rules  */
.bold {
    font-weight: 500;
}
/* Margin Rules */
.hm1 {
    margin: 0 0.2rem;
}
.mb1 {
    margin-bottom: 1rem;
}
.ml1 {
    margin-left: 1rem;
}
.xxl-only{
    display: none;
}
/*s phone*/
@media screen and (max-width: 600px) {
  .nav-wrapper {
    margin: 0 1rem;
}
}
.row.col.info-icon{
    padding: 0;
}
/*xxl monitor*/
@media screen and (min-width: 1500px) {
  .xxl-only {
    display: inline-block
  }
  .row .col.xxl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

/*perfect square code from: https://codepen.io/Tyler_Potts_/pen/qBBXoVQ*/
.square {
    position: relative;
    overflow: hidden;
}
.square:after {
    content: "";
    display: block;
    padding-top: 100%;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.margin-b1{
    margin-bottom: 2rem;
}
/*Tab styles on single_ingredients modified from The Net Ninja tutorial: https://www.youtube.com/playlist?list=PL4cUxeGkcC9gGrbtvASEZSlFEYBnPkmff */
.tabs .indicator {
    background-color: #263238
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}