/* *{
    border: 1px solid pink;
} */

/**** GLOBAL STYLES ****/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Font Rules */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Pattaya', sans-serif;
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.text-shadow-2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7)
}
.light {
    font-weight: 300;
}
.bold {
    font-weight: 500;
}
.bolder {
    font-weight: 600;
}
.small-font {
    font-size: 0.9rem;
}
.larger-text {
    font-size: 1.2rem;
}
.f16 {
    font-size: 16px;
}

/* Flex Rules */
.flex {
    display: flex;
    align-items: center;
}
.flex-right {
    display: flex;
    align-items: center;
    justify-content: right;
}
.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Margin Rules */
.m-auto {
    margin: 0 auto;
}
.m0 {
    margin: 0;
}
.m-all{
    margin: 1rem;
}
.mv-half {
    margin: 0.5rem 0;
}
.mh1 {
    margin: 0 1rem;
}
.mh-half {
    margin: 0 0.5rem;
}
.mh-icon {
    margin: 0 0.2rem 0 0.5rem;
}
.mt0 {
    margin-top: 0;
}
.mt-half {
    margin-top: 0.5rem;
}
.mt1 {
    margin-top: 1rem;
}
.mt2 {
    margin-top: 2rem;
}
.mb0 {
    margin-bottom: 0;
}
.mb1 {
    margin-bottom: 1rem;
}
.mb2 {
    margin-bottom: 2rem;
}
.ml-half {
    margin-left: 0.5rem;
}
.ml1 {
    margin-left: 1rem;
}
.mr-half {
    margin-right: 0.5rem;
}
.mr1 {
    margin-right: 1rem;
}

/* Padding */
.p-half {
    padding: 0.5rem;
}

/* Widths */
.w-80 {
    width: 80%;
    margin: auto;
}

/* pagination */
.pagination li.active {
    background-color: #4c809b;
}
/* used to make footer sticky */
main {
    flex: 1 0 auto;
}
/*Images*/
/*perfect square code from: https://codepen.io/Tyler_Potts_/pen/qBBXoVQ*/
.square {
    position: relative;
    overflow: hidden;
}
.square:after {
    content: "";
    display: block;
    padding-top: 100%;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blank_image {
    background-color:rgba(38, 50, 56, 0.5);
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
}
.image_header{
    padding: 2rem;
    opacity: 1;
    transition: 1s ease;
}
.header_fade {
    pointer-events: none;
    opacity: 0;
}

/* Hide */
.xxl-only{
    display: none;
}

/* Icons */
.large-icon {
    font-size: 1.5rem;
}

/* Cards and Buttons */
.border {
    border:2px solid #263238;
}
.no-border {
    border: none;
}
.card-outline {
    border: 3px solid #263238;
    border-radius: 20px;
    margin-top: 1rem;
}
.btn-outline {
    color: #263238;
    border: 2px solid #263238;
    border-radius: 20px;
}

/* Labels and Inputs */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #263238;
  opacity: 1; /* Firefox */
}
label {
    font-size: .8rem;
    color: #263238;
}
input {
    color: #263238;
}
.input-field>label {
    color: #263238;
    font-weight: 500;
}

/*** PAGES ***/
/** Sections **/
/* Sub Sections */

/*** BASE ***/
/** Nav **/
.log h5 {
    color: white;
}
.nav-wrapper {
    margin: 0 1rem;
}
.logo{
    display: flex;
}
#logo {
    margin: 0.5rem 0;
}
nav .brand-logo {
    display: flex;
}
nav ul a {
    padding: 0 5px;
}
.active-link{
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: underline;
    background-color: rgba(0,0,0,0.1);
}

/** Footer **/
.page-footer .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* newsletter signup */
#form_contact {
    display: flex;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
#formContact input {
    background-color: white;
    color: #37474F;
}
#submit {
    padding: 0 1rem;
    background-color: white;
    border: none;
    color: #37474F;
    border: none;
}
#emailaddress {
    padding: 0rem;
    margin: 0 0 1rem 1rem;
}
/* Social Icons */
.social-links {
    display: flex;
}
.social-links li i:hover {
  color: #449bff;
}
.fab {
    font-size: 2rem;
    margin: 0 1rem;
    color: white;
}

/*** INDEX ***/
.card-icons {
    display: flex;
}
.card-anchor:hover {
    text-decoration: underline;
    font-size: 1.05rem;
    transition: 1s ease;
    color: #449bff;
}
.activator {
    cursor: pointer;
}
/* large recipes */
.recipe_cards_lg {
    display: none;
    padding-bottom: 0.75rem !important;
}
.gallery-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 1s ease-in-out;
  display: block;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.gallery-item:hover .overlay {
  opacity: 1;
}
.overlay-fade {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.gallery-item:hover .overlay-fade {
  width: 100%;
}
.gallery-item:hover .gallery-image img {
  transform: scale(1.2);
}
.gallery-item .gallery-text {
  opacity: 0;
  position: absolute;
  text-align: center;
  color: #fafafa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: 2s ease-in-out;
}
.gallery-item:hover .gallery-text {
  opacity: 1;
}

/*** ADD RECIPE ***/
/* Instruction Field */
.instruction {
    background: white;
    color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 2rem;
    padding: 1rem .75rem 0rem .75rem;
    border-bottom: 1px solid #263238;
    width: 60%;
}
.instruction-input {
    padding-top: 0.75rem;
    width: 90% !important;
    border-bottom: 1px solid #263238;
}
.instruction-button {
    background-color: white !important;
    font-size: 2rem;
    border: none;
    color: #263238;
}
form button {
    color: #263238;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
ul .instruction-list {
    min-width: 30%;
}
.instruction li {
    flex: 1;
}
.instruction button {
    border: none !important;
    cursor: pointer !important;
}
.fa-trash {
    pointer-events: none;
}
.trash-btn {
    background-color: white;
    font-size: 1.3rem;
    color: #263238;
}

/*** USERS ***/
.users-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.users-cards .col {
    margin-left: auto;
    margin-right: auto;
}
.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.delete-user {
    margin: 1.0933333333rem 0 0.656rem 1rem;
}

/*** SINGLE RECIPE PAGE ***/
/* Reveals */
.text-wrapper,
.image-wrapper {
  overflow: hidden;
  position: relative;
}
/*overlay to be removed upon loading*/
.reveal-text,
.reveal-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  top: 0;
  z-index: 3;
}
/* left hand side*/
#description {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
}
.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-radius: 100px;
}
/* right hand side*/
/*Tab styles on single_ingredients modified from The Net Ninja tutorial: https://www.youtube.com/playlist?list=PL4cUxeGkcC9gGrbtvASEZSlFEYBnPkmff */
.tabs .indicator {
    background-color: #263238
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
.method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ingredients form p,
#instructions form p {
    margin: 0.5rem 0;
}
.checkbox-text {
    color: #121212;
}

/* change color of ticks to dark blue */
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #263238;
    border-bottom: 2px solid #263238;
}

/*** UNITS PAGE ***/
.unit_label {
    width: 40px !important;
}
.w100 {
    width: 100%;
}
.ingredient h6 {
    margin: 0 0.5rem 0 0;
}
.ingredient .flex {
    min-width: 230px;
}
.ingredient_modal {
    min-height: 500px;
}
.sm-card .card .card-content {
    padding: 0.5rem;
}
.sm-card .card {
    margin: .5rem 0 .5rem 0;
}

/* MEDIA QUERIES */
/*m tablet*/
@media screen and (min-width: 601px) {
    .row.col.info-icon{
    padding: 0;
    }
    /* BASE */
    .nav-wrapper {
    margin: 0 2rem;
    }
    #form_contact {
    width: 90%;
    }
    /** Footer **/
    .page-footer .row .col {
    align-items: flex-start;
    }
    .text-newsletter {
        text-align: start;
    }
    /* single recipe page */
    .tab-title {
    letter-spacing: 4px;
    }
    .card-outline {
    padding: 1rem;
    }
    #placeholder {
    max-width: 350px;
    }
    /* recipe cards */
    .recipe-card {
        height: 72px;
    }
}

/* l desktop */
@media screen and (min-width: 993px) {
    .card-outline {
    padding: 1rem;
    }
    /* ingredient card */
    .sm-card .card {
        min-height: 70px;
    }
    /* single recipe page */
    .tab-title {
    letter-spacing: 0px;
    }
}

/* xl  large desktop */
@media screen and (min-width: 1201px) {
    /* single recipe page */
    .tab-title {
    letter-spacing: 1px;
    }
    /* footer */
    .bottom-footer {
    display: flex;
    flex-direction: row;
    }
    /* single recipe page */
    .tab-title {
    letter-spacing: 2px;
    }
    .tabs .tab a {
        font-size: 1.1rem;
    }
    /* index */
    .recipe_cards_lg {
        display: inline-block;
    }
    .recipe_cards {
        display: none;
    }
}

/*xxl  v large desktop*/
@media screen and (min-width: 1500px) {
  .xxl-only {
    display: inline-block
  }
  .row .col.xxl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  /* single recipe page */
    .tab-title {
    letter-spacing: 5px;
    }
    .tabs .tab a {
        font-size: 1.2rem;
    }
}
