{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s6">
                    <input id="recipe_name" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="recipe_category" type="text" class="validate">
                    <label for="recipe_category">Recipe Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_description" type="text" class="validate">
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
        </form>
    </div>

{% endblock%}