{% extends "base.html" %}
{% block meta %}
    <meta name="Description" content="edit a recipe">
{% endblock %}
{% block content %}

    <h4 class="center-align container mt1">Edit Recipe</h4>

    <div class="row container card-outline">
        <form class="col l12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row">
                <!-- Category Selection -->
                <div class="input-field col s12 m5">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category *</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Recipe Name -->
                <div class="input-field col s12 m5">
                    <input id="recipe_name" name="recipe_name" type="text" minlength="1" maxlength="35"
                    value="{{ recipe.recipe_name }}" class="validate" required>
                    <label for="recipe_name">Recipe Name *</label>
                </div>
                <!-- Serves -->
                <div class="input-field col s12 m2">
                    <input id="recipe_serves" name="recipe_serves" type="number" max="99"
                    value="{{ recipe.recipe_serves }}" class="validate" required>
                    <label for="recipe_serves">Serves *</label>
                </div>
            </div>
            <div class="row">
                <!-- Description -->
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" maxlength="300" class="materialize-textarea" required>
                    {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe Description *</label>
                </div>
            </div>

            <div class="row">
                <!-- Ingredients -->
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" maxlength="2000" class="materialize-textarea" required>
                    {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Recipe Ingredients *</label>
                </div>
            </div>
            <div class="row">
                <!-- Instructions -->
                <div class="input-field col s12">
                    <textarea id="recipe_instructions" name="recipe_instructions" maxlength="2000" class="materialize-textarea" required>
                    {{- recipe.recipe_instructions -}}
                    </textarea>
                    <label for="recipe_instructions">Recipe Instructions *</label>
                </div>
            </div>
            <div class="row flex-center-wrap">
                <!-- Placeholder Image -->
                <div id="placeholder" class="col s12 m5 gallery-image square mh1">
                        <div class="flex-center blank_image">
                            <h4 id="placename" class="image_header center">{{ recipe.recipe_name }}</h4>
                        </div>
                        {% if recipe.recipe_image == '' %}
                            <img id="img" class="content gallery-image display0" src="{{ user_image }}" alt="{{ recipe.recipe_name }}">
                        {% else %}
                            <img id="img" class="content gallery-image" src="{{ user_image }}" alt="{{ recipe.recipe_name }}">
                        {% endif %}
                </div>
                <!-- Image URL -->
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="url" id="recipe_image" name="recipe_image" class="materialize-textarea" value="{{ recipe.recipe_image }}" minlength="1" maxlength="400">
                            <label for="recipe_image">Add Image URL</label>
                            <em>Image address should end with .jpg, .jpeg, or .png</em>
                        </div>
                        <!-- Prep Time -->
                        <div class="input-field col s12 m12 l6">
                            <select id="recipe_time" name="recipe_time" class="validate" required>
                                <option value="" disabled>Prep Time *</option>
                                {% if recipe.recipe_time ==  "&lt;30m" %}
                                    <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                                    <option value=" &lt;60m"> &lt;60m</option>
                                    <option value=" &gt;60m"> &gt;60m</option>
                                {% elif recipe.recipe_time ==  "&lt;60m" %}
                                    <option value=" &lt;30m"> &lt;30m</option>
                                    <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                                    <option value=" &gt;60m"> &gt;60m</option>
                                {% else %}
                                    <option value=" &lt;30m"> &lt;30m</option>
                                    <option value=" &lt;60m"> &lt;60m</option>
                                    <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                                {% endif %}
                            </select>
                        </div>
                        <!-- Calories. Not required to submit recipe -->
                        <div class="input-field col s12 m12 l6">
                                <input id="recipe_cals" name="recipe_cals" type="number" min="1" max="9999" value="{{ recipe.recipe_cals }}" class="validate">
                        <label for="recipe_cals">Calories per Serving</label>
                            </div>
                        <!-- Vegetarian Switch -->
                        <div class="input-field col s6">
                            <div class="switch">
                                <label for="recipe_is_vegetarian">
                                    <span class="f16">Vegetarian</span>
                                    <span class="flex">
                                        <img class="tooltipped ml-half" data-position="bottom" data-tooltip="Vegetarian" src="../static/img/icons/vegetarian.png" alt="Vegetarian">
                                        <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian">
                                        <span class="lever"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <!-- Vegan Switch -->
                        <div class="input-field col s6 m6">
                            <div class="switch">
                                <label for="recipe_is_vegan">
                                    <span class="f16">Vegan</span>
                                    <span class="flex">
                                        <img class="tooltipped ml-half" data-position="bottom" data-tooltip="Vegan" src="../static/img/icons/vegan.png" alt="Vegan">
                                        <input type="checkbox" id="recipe_is_vegan" name="recipe_is_vegan">
                                        <span class="lever"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="row">
                <!-- Submit Button -->
                <div class="flex-center">
                    <a class="btn waves-effect waves-light transparent btn-outline mh1" href="{{ url_for('view_profile', username_view=session['user']) }}">
                        Cancel<i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light transparent btn-outline mh1">
                        Submit <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock%}