{% extends "base.html" %}
{% block content %}

    <h3 class="center-align container mt1">Edit Recipe</h3>

    <div class="row container card-outline">
        <form class="col l12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="row">
                <!-- Category Selection -->
                <div class="input-field col s12 l5">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <!-- Recipe Name -->
                <div class="input-field col s12 l5">
                    <input id="recipe_name" name="recipe_name" type="text" minlength="1" maxlength="25"
                    value="{{ recipe.recipe_name }}" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <!-- Serves -->
                <div class="input-field col s12 l2">
                    <input id="recipe_serves" name="recipe_serves" type="number" minlength="1" max="99"
                    value="{{ recipe.recipe_serves }}" class="validate" required>
                    <label for="recipe_serves">Serves</label>
                </div>
            </div>
            <div class="row">
                <!-- Description -->
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" maxlength="300" class="materialize-textarea">
                    {{- recipe.recipe_description -}}
                    </textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

            <div class="row">
                <!-- Ingredients -->
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" maxlength="1000" class="materialize-textarea">
                    {{- recipe.recipe_ingredients -}}
                    </textarea>
                    <label for="recipe_ingredients">Recipe Ingredients</label>
                </div>
            </div>
            <div class="row">
                <!-- Instructions -->
                <div class="input-field col s12">
                    <textarea id="recipe_instructions" name="recipe_instructions" maxlength="1000" class="materialize-textarea">
                    {{- recipe.recipe_instructions -}}
                    </textarea>
                    <label for="recipe_instructions">Recipe Instructions</label>
                </div>
            </div>
            <div class="row">
                <!-- Image -->
                <div class="input-field col s12">
                    <input type="url" id="recipe_image" name="recipe_image" class="materialize-textarea"
                    value="{{ recipe.recipe_image }}" minlength="1" maxlength="400" required>
                    <label for="recipe_image">Add Image URL</label>
                </div>
            </div>
            <div class="row switch-line">
                <!-- Prep Time -->
                <div class="input-field col s12 m6 l3">
                    <select id="recipe_time" name="recipe_time" class="validate" required>
                        <option value="" disabled>Prep Time</option>
                        {% if recipe.recipe_time ==  "&lt;30m" %}
                            <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                            <option value=" &lt;60m"> &lt;60m</option>
                            <option value=" &gt;60m"> &gt;60m</option>
                        {% elif recipe.recipe_time ==  "&lt;60m" %}
                            <option value=" &lt;30m"> &lt;30m</option>
                            <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                            <option value=" &gt;60m"> &gt;60m</option>
                        {% else %}
                            <option value=" &lt;30m"> &lt;30m</option>
                            <option value=" &lt;60m"> &lt;60m</option>
                            <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}</option>
                        {% endif %}





                        <!-- {% for recipe in recipes %}
                            {% if recipe.recipe_time == recipe.recipe_time %}
                        <option value="{{ recipe.recipe_time }}" selected>{{ recipe.recipe_time }}
                        {% else %}
                            <option value="{{ recipe.recipe_time }}">{{ recipe.recipe_time }}</option>
                            {% endif %}
                        {% endfor %} -->

                            

                    </select>
                </div>
                <!-- Calories -->
                <div class="input-field col s12 m6 l3">
                        <input id="recipe_cals" name="recipe_cals" type="number" minlength="1" maxlength="4"
                        value="{{ recipe.recipe_cals }}" pattern="^[0-9]$" class="validate">
                        <label for="recipe_cals">Calories per Serving</label>
                    </div>
                <!-- Vegetarian Switch -->
                <div class="input-field col s6 l3">
                    <div class="switch">
                        <label for="recipe_is_vegetarian">
                            <i class="fas fa-seedling lime-text accent-2 tooltipped large-icon"
                                data-position="bottom" data-tooltip="Vegetarian"></i>
                            {% if recipe.recipe_is_vegetarian == "on" %}
                                <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian" checked>
                            {% else %}
                                <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian">
                            {% endif %}
                            <span class="lever"></span>
                            Vegetarian
                        </label>
                    </div>
                </div>
                <!-- Vegan Switch -->
                <div class="input-field col s6 l3">
                    <div class="switch">
                        <label for="recipe_is_vegan">
                            <i class="fas fa-seedling light-green-text accent-4 tooltipped  large-icon"
                                data-position="bottom" data-tooltip="Vegan"></i>
                            {% if recipe.recipe_is_vegan == "on" %}
                                <input type="checkbox" id="recipe_is_vegan" name="recipe_is_vegan" checked>
                            {% else %}
                                <input type="checkbox" id="recipe_is_vegan" name="recipe_is_vegan">
                            {% endif %}
                            <span class="lever"></span>
                            Vegan
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <!-- Submit Button -->
                <div class="row center-align">
                    <a class="col s10 push-s1 m4 push-m1 btn-large transparent btn-outline m-all bold" href="{{ url_for('recipes') }}">
                        Cancel<i class="fas fa-times-circle right"></i>
                    </a>
                    <button type="submit" class="col s10 push-s1 m4 pull-m1 p btn-large transparent btn-outline m-all right bold">
                        Submit <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock%}