{% extends "base.html" %}
{% block content %}

    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i>Search
                    </button>
                </div>
            </div>
        </form>
    </div>

<!--Recipe Cards-->
{% if recipes|length > 0 %}
<div class="row">
        {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <!--Image square and centered at any screen size-->
                    <div class="square">
                        <!-- <a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}"> -->
                            <img class="content activator" src="{{ recipe.recipe_image }}">
                        <!-- </a> -->
                    </div>
                    <div class="card-content">
                        <!--Displayed under image-->
                        <span class="card-title activator grey-text text-darken-4">{{recipe.recipe_name}}<i class="material-icons right">more_vert</i></span>
                        <p><a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
                    </div>
                    <!--Revelaed when card is clicked-->
                    <div class="card-reveal flex-vert-between">
                        <span class="card-title grey-text text-darken-4 margin-b1">{{recipe.recipe_name}}<i class="material-icons right">close</i></span>
                        <!--Icon info: Servings,Calories,Vegetarian,Vegan-->
                        <div class="row">
                            <!-- Might add later
                            <div class="col s3 l4 xxl-only">
                                <i class="fas fa-clock tooltipped" data-position="bottom" data-tooltip="Prep Time"></i>{{recipe.recipe_time}}
                            </div> -->
                            <div class="col s4">
                                <i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Serves">rice_bowl</i>{{recipe.recipe_serves}}
                            </div>
                            <div class="col s4">
                                <span class="tooltipped" data-position="bottom" data-tooltip="Per Serving"><strong>Cals:</strong>{{recipe.recipe_cals}}</span>
                            </div>
                            <div class="col s4">
                                {% if recipe.recipe_is_vegetarian == "on" %}
                                    <i class="fas fa-seedling lime-text accent-2 tooltipped"
                                    data-position="bottom" data-tooltip="Vegetarian"></i>   
                                {% endif %}
                                {% if recipe.recipe_is_vegan == "on" %}
                                    <i class="fas fa-seedling light-green-text accent-4 tooltipped"
                                    data-position="bottom" data-tooltip="Vegan"></i>
                                {% endif %}
                            </div>
                        </div>
                        <!--Description,Creator,link-->
                        <div class="row">
                            <div class="col s12">
                                <p>{{ recipe.recipe_description }}</p>
                                <div>
                                    <p><em>by:{{ recipe.created_by }}</em></p>
                                    <p><a href="{{ url_for('single_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <!--Display if there are no results from search-->
    <h3 class="center-align">No Results Found</h3>
{% endif %}
    
{% endblock %}