{% extends "base.html" %}
{% block content %}

    <!--SEARCH-->
    <div class="vm1 container mt1">
        <form action="{{ url_for('search') }}" method="post">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s10 m11">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s2 m1">
                    <button id="search-button"  type="submit" class="transparent blue-grey-text text-darken-3 no-border">
                        <i class="fas fa-search left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

        
        <!-- <div class="intro-text">
            <h1>McTastic Ingredients</h1>
            <h3>McTastic Flavours</h3>
        </div> -->
    <!-- <section>
        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://i.imgur.com/hfShEgC.jpg" alt="fruit">
            </div>
        </div>
    </section> -->

<!--Recipe Cards-->
<div class="row container">
        {% for recipe in recipes %}
            {% include "recipe_cards.html" %}
        {% endfor %}
    </div>

    <!--PAGINATION-->
    <ul class="pagination center-align margin-bottom-large">
        {% for page_num in pages %} 
            {% if page_num == current_page %}
            <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
            <li class="waves-effect">
            <a href="{{ url_for('recipes', current_page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %} 
        {% endfor %}
    </ul>


{% endblock %}