{% extends "base.html" %}
{% block meta %}
    <meta name="Description" content="homepage, all recipes">
{% endblock %}
{% block content %}

    <!--SEARCH & SORT-->
    <div class="vm1 container mt1">
        <div class="row">
            <!--SEARCH-->
            {% if not query %}
                <form class="col s12 m6 xl4" action="{{ url_for('search', sort_by=sort_by, query=query) }}" method="post">
            {% else %}
                <form class="col s8" action="{{ url_for('search', sort_by=sort_by, query=query) }}" method="post">
            {% endif %}
                    <div class="input-field flex">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label class="flex-space" for="query">Search Recipes</label>
                        <button id="search-button" aria-label="search" type="submit" class="transparent blue-grey-text text-darken-3 no-border"><i class="fas fa-search left"></i>
                        </button>
                    </div>
                </form>
            <!--SORT-->
            {% if not query %}
                <div class="input-field col s6 m3 xl4">
            {% else %}
                <div class="input-field col s4">
            {% endif %}
                {% if query %}
                    <!--sort results of a query-->
                    <form action="{{ url_for('sort_query', sort_by=sort_by, query=query) }}" method="POST" >
                {% elif filter_by %}
                    <!--sort results of a query-->
                    <form action="{{ url_for('sort_filter', filter_by=filter_by, sort_by=sort_by, query=query) }}" method="POST" >
                {% else %}
                    <!--sort all-->
                    <form action="{{ url_for('sort', filter_by=filter_by, sort_by=sort_by, query=query) }}" method="POST" >
                {% endif %}
                        <label for="sort_by">
                            <select id="sort_by" name="sort_by" onchange="this.form.submit()">
                                <!--Display sort preference if one is selected-->
                                {% if sort_by %}
                                <option value="" disabled selected>{{ sort_by }}</option>
                                {% else %}
                                <option value="" disabled selected>Sort By</option>
                                {% endif %}
                                <option value="A-Z">A-Z</option>
                                <option value="Z-A">Z-A</option>
                                <option value="Newest">Newest</option>
                                <option value="Oldest">Oldest</option>
                            </select>
                        </label>
                    </form>
                </div>
                <!--Option to filter category only if a search has not been made-->
                {% if not query %}
                    <!--FILTER-->
                    <div class="input-field col s6 m3 xl4">
                    {% if sort_by %}
                        <!--filter results of a query-->
                        <form action="{{ url_for('filter_sort', sort_by=sort_by) }}" method="POST" >
                    {% else %}
                        <!--filter all-->
                        <form action="{{ url_for('filter') }}" method="POST" >
                    {% endif %}
                            <label for="filter_by">
                                <select id="filter_by" name="filter_by" onchange="this.form.submit()">
                                    <!--Display sort preference if one is selected-->
                                    {% if filter_by %}
                                    <option value="" disabled selected>{{ filter_by }}</option>
                                    {% else %}
                                    <option value="" disabled selected>Filter By</option>
                                    {% endif %}
                                    <option value="All">All</option>
                                    <option value="Cooking">Cooking</option>
                                    <option value="Baking">Baking</option>
                                    <option value="Snacks">Snacks</option>
                                </select>
                            </label>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if number_of_all_rec > 0 %}
            <!--Recipe Cards-->
            <div class="row container">
                {% if query %}
                    <!--displayed where there is one result-->
                    {% if number_of_all_rec == 1 %}
                    <h5 class="m-all center-align">1 Result for {{ query }}</h5>
                    <!--displayed where there are multiple results-->
                    {% else %}
                    <h5 class="m-all center-align">{{ number_of_all_rec }} Results for {{ query }}</h5>
                    {% endif %}
                {% elif filter_by %}
                    <h5 class="m-all center-align">{{ number_of_all_rec }} Results for {{ filter_by }}</h5>
                {% endif %}
                {% for recipe in recipes %}
                    {% include "partials/recipe_cards.html" %}
                    {% include "partials/recipe_cards_lg.html" %}
                {% endfor %}
            </div>
            <!--PAGINATION-->
            {% if number_of_all_rec > 6 %}
                <h5 class="center-align">{{ number_of_all_rec }} Recipes</h5>
                <ul class="pagination center-align margin-bottom-large">
                    {% for page_num in pages %} 
                        {% if page_num == current_page %}
                        <li class="active"><a>{{ page_num }}</a></li>
                        {% else %}
                        <li class="waves-effect">
                            {% if title == 'Recipes' %}
                                <a href="{{ url_for('recipes', query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Search' %}
                                <a href="{{ url_for('search', query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Recipes Sort' %}
                                <a href="{{ url_for('sort', query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Recipes Search Sort' %}
                                <a href="{{ url_for('sort_query', query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Recipes Filter' %}
                                <a href="{{ url_for('filter', filter_by=filter_by, query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Recipes Filter Sort' %}
                                <a href="{{ url_for('filter_sort', filter_by=filter_by, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% elif title == 'Recipes Sort Filter' %}
                                <a href="{{ url_for('sort_filter', filter_by=filter_by, query=query, sort_by=sort_by, current_page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        </li>
                        {% endif %} 
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
                <h3 class="center-align">No Results Found for {{ query }}</h3>
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
<!--GSAP used to animate divs in single_recipe-->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" 
        integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" 
        integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js" 
        integrity="sha512-judXDFLnOTJsUwd55lhbrX3uSoSQSOZR6vNrsll+4ViUFv+XOIr/xaIK96soMj6s5jVszd7I97a0H+WhgFwTEg==" 
        crossorigin="anonymous">
    </script>
{% endblock %}