{% extends "base.html" %}
{% block content %}

    <h3 class="center-align container mt1">Add Recipe</h3>

    <div class="card-outline row container">
        <form class="col l12" method="POST" action="{{ url_for('insert_recipe') }}">
            <div class="row">
                <!-- Category Selection -->
                <div class="input-field col s12 l5">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category *</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Recipe Name -->
                <div class="input-field col s12 l5">
                    <input id="recipe_name" name="recipe_name" type="text" minlength="1" maxlength="25" class="validate" required>
                    <label for="recipe_name">Recipe Name *</label>
                </div>
                <!-- Serves -->
                <div class="input-field col s12 l2">
                    <input id="recipe_serves" name="recipe_serves" type="number" min="1" max="99" class="validate" required>
                    <label for="recipe_serves">Serves *</label>
                </div>
            </div>
            <div class="row">
                <!-- Recipe Description -->
                <div class="input-field col s12">
                    <textarea id="recipe_description" name="recipe_description" maxlength="300" class="materialize-textarea" required></textarea>
                    <label for="recipe_description">Recipe Description *</label>
                </div>
            </div>

            <div class="row">
                <!-- Ingredients -->
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" maxlength="2000" class="materialize-textarea" required></textarea>
                    <label for="recipe_ingredients">Recipe Ingredients *</label>
                </div>
            </div>
            <div class="row">
                <!-- Instructions -->
                <div class="input-field col s12">
                    <textarea id="recipe_instructions" name="recipe_instructions" maxlength="2000" class="materialize-textarea" required></textarea>
                    <label for="recipe_instructions">Recipe Instructions *</label>
                </div>
            </div>
            <div class="row flex-center-wrap">
                <!-- Placeholder Image -->
                <div id="placeholder" class="col s12 m5 gallery-image square m-auto mh1">
                        <img id="img" class="content gallery-image" src="{{ url_for('static', filename='img/placeholder.jpg') }}" alt="Plate">
                </div>
                <!-- Image URL -->
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="url" id="recipe_image" name="recipe_image" class="materialize-textarea" minlength="1" maxlength="400">
                            <label for="recipe_image">Add Image URL</label>
                            <em>Image address should end with .jpg, .jpeg, or .png</em>
                        </div>
                        <!-- Prep Time -->
                        <div class="input-field col s12 m12 l6">
                            <select id="recipe_time" name="recipe_time" class="validate" required>
                                <option value="" disabled selected>Prep Time *</option>
                                    {% for prep in prep %}
                                    <option value="{{ prep.prep }}">{{ prep.prep }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <!-- Calories. Not required to submit recipe -->
                        <div class="input-field col s12 m12 l6">
                                <input id="recipe_cals" name="recipe_cals" type="number" minlength="1" maxlength="4" pattern="^[0-9]$" class="validate">
                                <label for="recipe_cals">Calories per Serving</label>
                            </div>
                        <!-- Vegetarian Switch -->
                        <div class="input-field col s12 m6">
                            <div class="switch">
                                <label for="recipe_is_vegetarian">
                                    <i class="fas fa-seedling lime-text accent-2 tooltipped large-icon"
                                        data-position="bottom" data-tooltip="Vegetarian"></i>
                                    <input type="checkbox" id="recipe_is_vegetarian" name="recipe_is_vegetarian">
                                    <span class="lever"></span>
                                    Vegetarian
                                </label>
                            </div>
                        </div>
                        <!-- Vegan Switch -->
                        <div class="input-field col s12 m6">
                            <div class="switch">
                                <label for="recipe_is_vegan">
                                    <i class="fas fa-seedling light-green-text accent-4 tooltipped  large-icon"
                                        data-position="bottom" data-tooltip="Vegan"></i>
                                    <input type="checkbox" id="recipe_is_vegan" name="recipe_is_vegan">
                                    <span class="lever"></span>
                                    Vegan
                                </label>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="row">
                <!-- Submit Button -->
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light transparent btn-outline" id="submit_recipe" type="submit" name="action">
                        Add Recipe
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% include "partials/ingredient_cards.html" %}

{% endblock%}
