{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card hoverable">
                    
                <div class="card-image">
                    <a href="">
                        <img src="{{ recipe.recipe_image }}">
                        <span class="card-title text-shadow-2">{{recipe.recipe_name}}</span>
                    </a>
                </div>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">                       
                            
                            <i class="fas fa-clock tooltipped" data-position="bottom" data-tooltip="Prep Time">   </i>{{recipe.recipe_time}}
                            <i class="material-icons prefix tooltipped" data-position="bottom" data-tooltip="Serves">rice_bowl</i>{{recipe.recipe_serves}}
                            {% if recipe.recipe_is_vegetarian == "on" %}
                                <i class="fas fa-seedling lime-text accent-2 tooltipped"
                                data-position="bottom" data-tooltip="Vegetarian"></i>   
                            {% endif %}
                            {% if recipe.recipe_is_vegan == "on" %}
                                <i class="fas fa-seedling light-green-text accent-4 tooltipped"
                                data-position="bottom" data-tooltip="Vegan"></i>
                            {% endif %}
                        </div>
                        <div class="collapsible-body">
                            <p>{{ recipe.recipe_description }}</p>
                            <p><em>by:{{ recipe.created_by }}</em></p>
                        </div>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    

{% endblock %}