{% extends "base.html" %}
{% block content %}

<!--SEARCH-->
<div class="vm1 container mt1">
    <form action="{{ url_for('search') }}" method="post">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 flex">
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label class=" flex-space" for="query">Search Recipes</label>
                <button id="search-button"  type="submit" class="transparent blue-grey-text text-darken-3 no-border"><i class="fas fa-search left"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% if number_of_all_rec > 0 %}
<!--DISPLAY RESULTS-->
<div class="container-recipes">
    <div class="row container">
        <h5 class="m-all center-align">{{ number_of_all_rec }} Results for {{ query }}</h5>
        {% for recipe in recipes %}
            {% include "recipe_cards.html" %}
            {% include "recipe_cards_lg.html" %}
        {% endfor %}
    </div>
    <!--PAGINATION-->
    <ul class="pagination center-align margin-bottom-large">
        {% for page_num in pages %} 
            {% if page_num == current_page %}
            <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
            <li class="waves-effect">
            <a href="{{ url_for('search', query=query, current_page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %} 
        {% endfor %}
    </ul>
</div>   
<!--FLASH FOR NO RESULTS-->
{% else %}
        <h3 class="center-align">No Results Found for {{ query }}</h3>
{% endif %}

{% endblock %}