{% extends "base.html" %}
{% block content %}

    <!-- RECIPE TITLE AND CREATER-->
    <div class="row s12 container mt1 mb0">
        <div class="recipe-title center-align blue-grey-text text-darken-3 mb1">
            <h2 class="mt0 mb0" id="name">{{ recipe.recipe_name }}</h2>
            <h5 class="mt0 mb1" id="created-by">Created by: {{ recipe.created_by }}</h5>
        </div>
    </div>

        <!-- MAIN CONTENT -->
        <div class="row container slide">
            <!-- LEFT HAND SIDE -->
            <div class="col s12 l6 image-wrapper">
                <div class="reveal-img"></div>
                <!-- IMAGE: images are displayed as square regardless of aspect ratio-->
                <div class="square">
                    <img src="{{ recipe.recipe_image }}" alt="Recipe Image" class="content materialboxed">
                </div>
                <!-- DESCRIPTION -->
                <p id="description"><em>{{ recipe.recipe_description }}</em></p>
                <!-- ICONS -->
                <div class="icons grey lighten-2">
                    <!-- TIME -->
                    <div class="flex">
                        <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Prep Time" src="../static/img/time.png" alt="Time"><span class="icon-text">{{recipe.recipe_time}}</span>
                    </div>
                    <!-- SERVES -->
                    <div class="mh-icon flex">
                        <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Serves" src="../static/img/servings.png" alt="Servings"><span class="icon-text">{{recipe.recipe_serves}}</span>
                    </div>
                    <!-- CALORIES -->
                    <div class="mh-icon flex">
                        <img class="tooltipped mh-icon" data-position="bottom" data-tooltip="Per Serving" src="../static/img/calories.png" alt="Calories"><span class="icon-text">{{recipe.recipe_cals}}</span>
                    </div>
                    <!-- VEGETARIAN AND VEGAN -->
                    <div class="mh-icon flex">
                        {% if recipe.recipe_is_vegetarian == "on" %}
                            <img class="tooltipped" data-position="bottom" data-tooltip="Vegetarian" src="../static/img/vegetarian.png" alt="Vegetarian">   
                        {% endif %}
                        {% if recipe.recipe_is_vegan == "on" %}
                            <img class="tooltipped" data-position="bottom" data-tooltip="Vegan" src="../static/img/vegan.png" alt="Vegan">
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- RIGHT HAND SIDE -->
            <div class="col s12 l6 method text-wrapper">
                <div class="reveal-text"></div>
                <!-- INGREDIENTS AND INSTRUCTIONS -->
                <ul class="tabs">
                    <li class="tab col s6">
                        <a href="#ingredients" class="blue-grey-text text-darken-3 bold tab-title">Ingredients</a>
                    </li>
                    <li class="tab col s6">
                        <a href="#instructions" class="blue-grey-text text-darken-3 bold tab-title">Instructions</a>
                    </li>
                </ul>
                <div class="col s12" id="ingredients">
                    <form action="#">
                        {% for line in recipe.recipe_ingredients.splitlines() %}
                            <p>
                                <label>
                                    <input type="checkbox">
                                    <span class="checkbox-text flow-text">{{ line }}</span>
                                </label>
                            </p>
                        {% endfor %}
                    </form>
                </div>
                <div class="col s12" id="instructions">
                    <form action="#">
                        {% for line in recipe.recipe_instructions.splitlines() %}
                            <p>
                                <label>
                                    <input type="checkbox">
                                    <span class="checkbox-text"> {{ line }} </span>
                                </label>
                            </p> 
                        {% endfor %}
                    </form>
                </div>
                {% if session.user|lower == recipe.created_by|lower or session.user|lower == 'admin' %}
                    <div class="edit-btns">
                        <!-- Modal Trigger -->
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small m-all transparent btn-outline flat hoverable">Edit</a>
                        <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable" href="#modal1">Delete</a>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal  card-outline">
                            <div class="modal-content">
                                <h4>Are you sure?</h4>
                                <p>You could always edit instead</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Cancel</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" 
                                class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{% block scripts %}
<!--GSAP used to animate divs in single_recipe-->
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" 
    integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" 
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" 
    integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" 
    crossorigin="anonymous">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js" 
    integrity="sha512-judXDFLnOTJsUwd55lhbrX3uSoSQSOZR6vNrsll+4ViUFv+XOIr/xaIK96soMj6s5jVszd7I97a0H+WhgFwTEg==" 
    crossorigin="anonymous">
</script>
{% endblock %}
{% endblock %}


