{% extends "base.html" %}
{% block content %}

<!--UNIT CONVERSIONS-->
<section class="container">
    <!--Weight-->
    <div class="row users-cards mt1">
        <div class="col s12 m9">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Weight</h5>
                    <form>
                        <div class="row">
                            <div class="input_field col s12 m6 l3 flex mh1" id="grams">
                                <input class="text-center unit_input_sm" id="grams_value" type="number" placeholder="Grams" max="9999">
                                <label class="bold unit_label" for="grams_value">g</label>
                            </div>
                            <div class="input_field col s12 m6 l3 flex mh1" id="ounces">
                                <input class="text-center unit_input_sm" id="ounces_value" type="number" placeholder="Ounces">
                                <label class="bold unit_label" for="ounces_value">oz</label>
                            </div>
                            <div class="input_field col s12 m6 l3 flex mh1"  id="tbsp">
                                <input class="text-center unit_input_sm" id="tbsp_value" type="number" placeholder="Tbsp">
                                <label class="bold unit_label" for="tbsp_value">tbsp</label>
                            </div>
                            <div class="input_field col s12 m6 l3 flex mh1"  id="tsp">
                                <input class="text-center unit_input_sm" id="tsp_value" type="number" placeholder="Tsp">
                                <label class="bold unit_label" for="tsp_value">tsp</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Cups-->
    <div class="row users-cards mt1">
        <div class="col s12 m9">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Cups</h5>
                    <form>
                        <div class="row flex-center">
                            <div class="input_field col s12 l4 flex mh1" id="grams2">
                                <input class="text-center unit_input" id="grams_value2" type="number" placeholder="Grams">
                                <label class="bold unit_label" for="grams_value2">g</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input_field col s12 l6 flex mh1"  id="drycups">
                                    <input class="text-center unit_input" id="drycups_value" type="number" placeholder="Dry Goods">
                                    <label class="bold unit_label" for="drycups_value">Dry</label>
                                </div>
                                <div class="input_field col s12 l6 flex mh1"  id="wetcups">
                                    <input class="text-center unit_input" id="wetcups_value" type="number" placeholder="Syrup">
                                    <label class="bold unit_label" for="wetcups_value">Syrup</label>
                                </div>
                                <div class="input_field col s12 l6 flex mh1"  id="buttercups">
                                    <input class="text-center unit_input" id="buttercups_value" type="number" placeholder="Butter">
                                    <label class="bold unit_label" for="buttercups_value">Butter</label>
                                </div>
                                <div class="input_field col s12 l6 flex mh1" id="breadcups">
                                    <input class="text-center unit_input" id="breadcups_value" type="number" placeholder="Bread Flour">
                                    <label class="bold unit_label" for="breadcups_value">Bread</label>
                                </div>
                                <div class="input_field col s12 l6 flex mh1" id="oatcups">
                                    <input class="text-center unit_input" id="oatcups_value" type="number" placeholder="Rolled Oats">
                                    <label class="bold unit_label" for="oatcups_value">Oats</label>
                                </div>
                                <div class="input_field col s12 l6 flex mh1" id="sugarcups">
                                    <input class="text-center unit_input" id="sugarcups_value" type="number" placeholder="White Sugar">
                                    <label class="bold unit_label" for="sugarcups_value">Sugar</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Volume-->
    <div class="row users-cards mt1">
        <div class="col s12 m9">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Volume</h5>
                    <form>
                        <div class="row">
                            <div class="input_field col s12 m6 l4 flex mh1" id="millilitres">
                                <input class="text-center unit_input" id="ml_value" type="number" placeholder="Millilitres">
                                <label class="bold unit_label" for="ml_value">ml</label>
                            </div>
                            <div class="input_field col s12 m6 l4 flex mh1" id="fl_ounces">
                                <input class="text-center unit_input" id="ouncesfl_value" type="number" placeholder="Fluid Ounces">
                                <label class="bold unit_label" for="ouncesfl_value">floz</label>
                            </div>
                            <div class="input_field col s12 m6 l4 flex mh1" id="cup_vol">
                                <input class="text-center unit_input" id="cup_vol_value" type="number" placeholder="Cup">
                                <label class="bold unit_label" for="cup_vol_value">Cup</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Temperature-->
    <div class="row users-cards mt1">
        <div class="col s12 m9">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Temperature</h5>
                    <form>
                        <div class="row">
                            <div class="input_field col s12 m6 l4 flex mh1" id="celcius">
                                <input class="text-center unit_input" id="celcius_value" type="number" placeholder="Celcius">
                                <label class="bold unit_label" for="celcius_value">C</label>
                            </div>
                            <div class="input_field col s12 m6 l4 flex mh1" id="fahrenheit">
                                <input class="text-center unit_input" id="fahrenheit_value" type="number" placeholder="Fahrenheit">
                                <label class="bold unit_label" for="fahrenheit_value">F</label>
                            </div>
                            <div class="input_field col s12 m6 l4 flex mh1"  id="kelvin">
                                <input class="text-center unit_input" id="kelvin_value" type="number" placeholder="Kelvin">
                                <label class="bold unit_label" for="kelvin_value">K</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Ingredients-->
<section class=" container">
    <div class="row users-cards mt1">
        <div class="col s12 m9">
            <div class="card horizontal">
                <div class="card-content user-card flex-col">
                    <h5>Ingredients</h5>
                    {% for ingedient in ingredients %}
                        <div class="col s12 m7">
                            <div class="card horizontal">
                                <div class="card-content user-card">
                                    <div class="edit-btns">
                                        <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="#">
                                            view
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}