{% extends "base.html" %}
{% block content %}

<!--Users-->
<div class="row container users-cards mt1">
    {% for user in users %}
    <div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-content user-card">
            <a class="grey-text text-darken-4" href="{{ url_for('admin_profile', user_id=user._id) }}">
                <h5>{{user.username}}</h5>
            </a>
            <div class="edit-btns">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-user" href="#modal1">Delete</a>
                <!-- Modal Structure -->
                <div id="modal1" class="modal  card-outline">
                    <div class="modal-content">
                        <h4>Are you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Cancel</a>
                        <a href="{{ url_for('delete_user', user_id=user._id) }}" 
                        class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    {% endfor %}
</div>

    <!--PAGINATION-->
    <ul class="pagination center-align margin-bottom-large">
        {% for page_num in pages %} 
            {% if page_num == current_page %}
            <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
            <li class="waves-effect">
            <a href="{{ url_for('users', current_page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %} 
        {% endfor %}
    </ul>


{% endblock %}