{% extends "base.html" %}{% block meta %}
    <meta name="Description" content="View all users.">
{% endblock %}
{% block content %}

<!--Users-->
<div class="row container users-cards mt1">
    {% for user in users %}
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-content user-card">
                <h5>{{user.username|capitalize}}</h5>
                <div class="edit-btns">
                    <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-use" href="{{ url_for('view_profile', username_view=user.username) }}">
                        view
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!--PAGINATION-->
    <ul class="pagination center-align margin-bottom-large">
        <h5>{{ number_of_all_users }} Users</h5>
        {% for page_num in pages %} 
            {% if page_num == current_page %}
            <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
            <li class="waves-effect">
            <a href="{{ url_for('users', current_page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %} 
        {% endfor %}
    </ul>

{% endblock %}