{% extends "base.html" %}
{% block meta %}
    <meta name="Description" content="Individual user profile">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-outline card-panel transparent p-half">
                <h4 class="center-align m0">{{ username|capitalize }}'s Recipes</h4>
                <div class="flex-center">
                <h5 class="center-align">Recipes: {{ number_of_user_rec }}</h5>
                    {% if session.user == username or session.user|lower == 'admin' %}
                        <div class="edit-btns flex-center">
                            <!-- Modal Trigger -->
                            <a class="waves-effect waves-light btn-small modal-trigger transparent btn-outline flat hoverable delete-user" href="#modal1">Delete</a>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal  card-outline">
                                <div class="modal-content">
                                    <h4>Are you sure?</h4>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Cancel</a>
                                    <a href="{{ url_for('delete_user', username=user.username) }}" 
                                    class="modal-close waves-effect waves-green btn transparent btn-outline m-all flat hoverable">Delete</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="row container">
        {% for recipe in recipes %}
            {% include "partials/recipe_cards.html" %}
            {% include "partials/recipe_cards_lg.html" %}
        {% endfor %}
    </div>

    {% if number_of_user_rec > 6 %}
    <!--PAGINATION-->
        <h5 class="center-align">{{ number_of_user_rec }} Recipes</h5>
        <ul class="pagination center-align margin-bottom-large">
            {% for page_num in pages %} 
                {% if page_num == current_page %}
                <li class="active"><a href="#">{{ page_num }}</a></li>
                {% else %}
                <li class="waves-effect">
                <a href="{{ url_for('view_profile', username_view=username, current_page=page_num) }}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
{% block scripts %}
<!-- Share functionality from www.addthis.com --> 
<script 
    type="text/javascript" 
    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fce212ff264a1fa">
</script>
{% endblock %}